@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    background-color: var(--background);
}

:root {
    --text-50: #f9e9fc;
    --text-100: #f3d2f9;
    --text-200: #e7a5f3;
    --text-300: #db78ed;
    --text-400: #cf4be7;
    --text-500: #c31fe0;
    --text-600: #9c18b4;
    --text-700: #751287;
    --text-800: #4e0c5a;
    --text-900: #27062d;
    --text-950: #140316;
    
    --background-50: #fbeafb;
    --background-100: #f7d4f7;
    --background-200: #eeaaee;
    --background-300: #e67fe6;
    --background-400: #dd55dd;
    --background-500: #d52ad5;
    --background-600: #aa22aa;
    --background-700: #801980;
    --background-800: #551155;
    --background-900: #2b082b;
    --background-950: #150415;
    
    --primary-50: #f8e8fc;
    --primary-100: #f2d1fa;
    --primary-200: #e4a4f4;
    --primary-300: #d776ef;
    --primary-400: #c948ea;
    --primary-500: #bc1be4;
    --primary-600: #9615b7;
    --primary-700: #711089;
    --primary-800: #4b0b5b;
    --primary-900: #26052e;
    --primary-950: #130317;
    
    --secondary-50: #fce8f1;
    --secondary-100: #fad1e2;
    --secondary-200: #f5a3c5;
    --secondary-300: #f075a8;
    --secondary-400: #eb478b;
    --secondary-500: #e6196e;
    --secondary-600: #b81458;
    --secondary-700: #8a0f42;
    --secondary-800: #5c0a2c;
    --secondary-900: #2e0516;
    --secondary-950: #17030b;
    
    --accent-50: #fce8eb;
    --accent-100: #fad1d7;
    --accent-200: #f4a4ae;
    --accent-300: #ef7686;
    --accent-400: #ea485e;
    --accent-500: #e41b36;
    --accent-600: #b7152b;
    --accent-700: #891020;
    --accent-800: #5b0b15;
    --accent-900: #2e050b;
    --accent-950: #170305;

    --linearPrimarySecondary: linear-gradient(#be26e6, #f07bac);
    --linearPrimaryAccent: linear-gradient(#be26e6, #ea4d63);
    --linearSecondaryAccent: linear-gradient(#f07bac, #ea4d63);
    --radialPrimarySecondary: radial-gradient(#be26e6, #f07bac);
    --radialPrimaryAccent: radial-gradient(#be26e6, #ea4d63);
    --radialSecondaryAccent: radial-gradient(#f07bac, #ea4d63);    
}

body {
    background-color: var(--background-50);
    background-image: radial-gradient(var(--accent-300) 0.5px, var(--background-50) 0.5px);
    background-size: 15px 15px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 2rem;
    max-width: 1200px;
    height: 100vh;
    background-color: transparent;
}

div, form, h1, h2, h3, h4, h5, h6, p, span, label {
    background-color: transparent;
}

button, input {
    border: none;
    padding: 0.35rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--background-50);
}

button {
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--accent-300);
    color: var(--accent-300);
}
